body {
    background-color: #22292f !important
}

.appointment {
    background: #22292f !important;
    /* height used */
    background-size: cover !important;
    height: 100vh;
    /* create parallex scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
}

@media(min-width:200px) and (max-width:250px) {
    .appointment {
        background: #22292f !important;
        /* height used */
        background-size: cover !important;
        height: 100vh;
        /* create parallex scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 70%;
    }
}

@media(min-width:250px) and (max-width:300px) {
    .appointment {
        background: #22292f !important;
        /* height used */
        background-size: cover !important;
        height: 100vh;
        /* create parallex scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 60%;
    }
}

@media(min-width:300px) and (max-width:330px) {
    .appointment {
        background: #22292f !important;
        /* height used */
        background-size: cover !important;
        height: 100vh;
        /* create parallex scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 60%;
    }
}

@media(min-width:330px) and (max-width:350px) {
    .appointment {
        background: #22292f !important;
        /* height used */
        background-size: cover !important;
        height: 100vh;
        /* create parallex scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 50%;
    }
}

@media(min-width:350px) and (max-width:450px) {
    .appointment {
        background: #22292f !important;
        /* height used */
        background-size: cover !important;
        height: 100vh;
        /* create parallex scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 35%;
    }
}

@media(min-width:450px) and (max-width:550px) {
    .appointment {
        background: #22292f !important;
        /* height used */
        background-size: cover !important;
        height: 100vh;
        /* create parallex scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30%;
    }
}

@media(min-width:550px) and (max-width:650px) {
    .appointment {
        background: #22292f !important;
        /* height used */
        background-size: cover !important;
        height: 100vh;
        /* create parallex scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 25%;
    }
}

@media(min-width:650px) and (max-width:770px) {
    .appointment {
        background: #22292f !important;
        /* height used */
        background-size: cover !important;
        height: 100vh;
        /* create parallex scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 20%;
    }
}

/* button */

.btn-create {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22)!important;
    border-radius: 50px !important;
    text-transform: none !important;
}

input {
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 5px;
    width: 135px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out
}

input:focus {
    outline: none;
    width: 200px;
}

::placeholder {
    padding-left: 7px;
    -webkit-transition: color .35s ease-in-out;
    transition: color .35s ease-in-out
}

/* input:hover {
    border: 1px solid red !important
} */