@media(max-width:766px) {
    .calendar {
        padding-top: 30% !important
    }
}

.calendar {
    background: #22292f !important;
    /* height used */
    background-size: cover !important;
    height: 90vh;
    /* create parallex scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
}