.calendar-container, .calendar, .calendar-header, td, tr {
    padding: 0;
    margin: 0
}

.calendar {
    width: 80%;
    color: white;
}

.calendar-header {
    border-bottom: 1px dashed skyblue;
    font-size: 20px;
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 5px
}

.day, .emptySlot, .week-day {
    text-align: center;
    height: 40px
}

.week-day {
    font-size: 0.8em;
}

.day {
    font-size: 0.8em;
}

.day {
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.current-day {
    background-color: blue;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white
}

.month-popup {
    position: absolute;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    background: white;
}

.month-popup div {
    padding: 10px
}

.nav-month {
    top: 0.6em;
    font-size: 0.8em;
    right: 3px;
}

.prev {}

.next {}

.editor-year {
    max-width: 3.6em
}

.label-month, .label-year {
    font-size: 0.6em
}

.label-month {
    cursor: pointer
}