.home {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(194, 91, 91, 0)),
    url("./header-bg.svg");
  /* height used */
  background-size: cover !important;
  height: 95vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14%;
}
.home-h4 {
  font-family: "Raleway", sans-serif;
  line-height: 40px;
  font-size: 30px;
}
.home-p {
  font-size: 20px;
  font-weight: 100;
  line-height: 35px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.514) !important;
}
